@{
    ViewData["Title"] = "Home Page";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Vehicals</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Create all type Vehicals</h3>
            <p class="text-muted m-b-30 font-13"></p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehical Name</label>
                            @Html.TextBox("StudentName", null, new { @class = "form-control" })
                        </div>
                        <input id="btnVahical" type="submit" value="Submit" onclick="successalert()" class="btn btn-success" />
                    }

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="white-box">
            @*-- style='visibility:hidden'*@
            <p class="box-title m-b-0 btn btn-success">@Html.ActionLink("List of Vehicles", "Bind", "Home") </p>
        </div>
        <!--<div class="white-box">-->
            @*-- style='visibility:hidden'*@
            <!--<button type="button" class="btn btn-danger">Kubernates Testing Application</button>
        </div>-->
    </div>
</div>
